
body {
    color: #999;
    font-size: 14px;
    letter-spacing: 0.2px;
    border-top: 3px solid #4f438b;
    padding-top: 20px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    border-bottom: 4px solid #b44c4c;
}

header h1 {
    color: #4c76b4;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}

header h3 {
    color: #777;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0px;
}
